<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://kit.fontawesome.com/30c7a46dfa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
          <div class="d-flex align-items-center justify-content-between">
            <h1>Guest</h1>
            <button class="btn btn-info" v-on:click="">
              <i class="fas fa-users"></i>
            </button>
          </div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">First name</label>
                  <input v-model="fName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">last name</label>
                  <input v-model="lName" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Phone number</label>
                  <input v-model="phone" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">E-mail</label>
                  <input v-model="mail" class="form-control" id="exampleInputPassword1">
                </div>
            </form>
            <hr>
            <button v-on:click="addGuestInput" class="btn btn-primary mb-5" type="submit">
                <i class="fas fa-user-plus" style="color: #000;"></i>
            </button>
            <div class="guests">
                <div v-for="(g,index) in guestInput" class="form-group">
                    <label for="exampleInputPassword1">guest name</label>
                    <button class="btn btn-danger" v-on:dblclick="deleteG(index)">
                        <i class="fas fa-user-minus"></i>
                    </button>
                    <input v-model="guestInput[index].na" class="form-control mt-2">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button v-on:click="addUser" type="submit" class="btn btn-success">send</button>
            </div>
        </div>
        <div v-if="viewUser" class="container">

            <table v-for="user in users" class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>first name</td>
                    <td> {{user.Name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>last name</td>
                    <td> {{user.lastName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>phone</td>
                    <td> {{user.phone}}</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>mail</td>
                    <td> {{user.mail}}</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>guests</td>
                    <td>
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">guests name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="guest in guestList" >
                                <td v-if="guest.id==user.guestListId">{{guest.name}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>